<h1>{{title}}</h1>
<p class="message">{{message}}</p>
<p>N: {{n}}</p>

<div>
    Result: <strong>{{result.name}}</strong> x: {{result.x}}, y: {{result.y}}
</div>

<p>Time Spent Finding Most Isolated Node: {{timeRunning}}</p>
